# Optional overrides for local runs
BASE_URL=https://www.demoblaze.com/
DEMOBLAZE_USERNAME=
DEMOBLAZE_PASSWORD=
CONTACT_EMAIL=test@example.com
CONTACT_NAME=Satyendra
ORDER_NAME=Satyen
ORDER_COUNTRY=India
ORDER_CITY=Indore
ORDER_CARD=4111111111111111
ORDER_MONTH=April
ORDER_YEAR=2026
